# Ignore IDE and Python cache directories
.idea/
.venv/
__pycache__/

# Ignore project-specific directories
ASL/
ASL-crop/
ASL-MediaPipe/
data/compressed_asl_crop.npz
data/compressed_asl_mediapipe.npz
data/backup/
compressor/__pycache__/