# Ignore IDE and Python cache directories
.idea/
.venv/
__pycache__/

# Ignore project-specific directories
ASL/
ASL-crop/
ASL-MediaPipe/
WLASL/
data/compressed_asl*.npz
demo*
graphviz.svg
data/backup/compressed_asl_mediapipe.npz
data/backup/
compressor/__pycache__/